# Yarn #
########
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Jest #
########
coverage

# Eslint #
##########
.eslintcache

# TypeScript #
##############
tsconfig.tsbuildinfo

# Next #
########
.next

# Artifacts #
#############
*.js
*.zip
out
images
favicon.ico
