# Cache #
#########
coverage
tsconfig.tsbuildinfo
node_modules
.eslintcache
.next
.cache

# Artifacts #
#############
convert.js
service_worker.js
/*.wasm
/*.zip
/out
/images
/favicon.ico
/target
/pkg
