# Yarn #
########
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Cache #
#########
coverage
tsconfig.tsbuildinfo
.eslintcache
.next
.cache

# Artifacts #
#############
*.js
*.zip
out
images
favicon.ico
